@max: 1000px;
@min: 30px;
@buffer: 2%;

@import 'css/mixins';
@import 'css/reset';


@offwhite: #FAE3B4;
@accentred: #F32822;
@darkgreen: #437356;
@lightgreen: #AAC789;
@teal: #1E4147;

@primarycolor: @teal;
@primarytext: @lightgreen;
@secondarycolor: @darkgreen;
@secondarytext: @offwhite;


@bodytype: "adelle", serif;
@headings: "estilo-regular", sans-serif;
@subheadings: "jaf-domus-titling-web", sans-serif;

.maincontent() {
  font-family: @bodytype;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 500;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

body {
	background: @primarycolor;
	color: @primarytext;
	font-family: @bodytype;
	margin: 0;
  padding: 0;
  .maincontent();
}

h1, h2, h3 {
  font-family: @headings;
  font-weight: 400;
  text-transform: capitalize;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
  
  header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 16em;
    .innerglow(2em, black, 90%);
    background: @teal url('css/partydots.png') no-repeat 0em -3em;
    background-scale: 100% 100%;
    
    h3 {
      font-family: @subheadings;
      font-weight: 300;
      font-size: .85em;
      color: white;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      padding-top: 4.4em;
    }
    
    h1 {
      text-align: center;
      margin: 0;
      position: relative;
      top: .2em;
      font-size: 3em;
      padding: 0;  
      color: @lightgreen;
      line-height: .95em;
    }
    
    nav {
      text-align: center;
      display: none;
      ul { margin: 0; padding: 0;}
      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        font-family: @subheadings;
        font-weight: normal;
      }
    }
  }
  
  footer {
    width: 100%;
    background: @teal;
    display: none;
  }
  
  #main {
    @width: 100%;
    background: lighten(@teal, 90%);
  }
  
  .inner {
    max-width: @max;
    min-width: @min;
    margin: 0 auto;
    padding: 0 @buffer;
  }
  
}

section {
  
  padding: 2em 0em;
  background: @secondarycolor;
  color: @secondarytext;
  overflow: hidden;
  .maincontent();
  .antialiased();
  .innerglow();
  
  &.dark {
    
    h3 {
      color: white;
    }
    
    a {
      color: @teal;
      font-family: @subheadings;
      text-decoration: none;
      font-weight: 700;
      font-size: 1em;
      margin-top: 1em;
      height: 2.75em;
      display: block;
      line-height: 1.2em;
      border-bottom: 1px solid @teal;
      .smoothly();
      
      &:hover {
        color: @lightgreen;
        border-bottom: 1px solid @lightgreen;
      }
    }
    
  }
  
  &.bright {
    background: @primarycolor;
    color: @primarytext;
    
    h3 {
      color: white;
    }
    
    a {
      color: @darkgreen;
      font-family: @subheadings;
      text-decoration: none;
      font-weight: 700;
      font-size: 1em;
      margin-top: 1em;
      height: 2.75em;
      display: block;
      line-height: 1.2em;
      border-bottom: 1px solid @darkgreen;
      .smoothly();
      
      &:hover {
        color: @lightgreen;
        border-bottom: 1px solid @lightgreen;
      }
    }
    
  }
  
  h3 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin: .75em 0;
  }
  
  &.photos {
    .content-inner {
      max-width: 80%;
      min-width: @min;
      margin: 0 auto;
    }
  }
  
  &.getting-to-dallas,
  &.travel-lodging,
  &.things-to-do,
  &.our-story,
  &.registry,
  &.suggest-a-song {
    
    .content-inner {
      max-width: 35em;
      min-width: @min;
      margin: 0 auto;
      padding: 0 1em 0 1em;
      
      ul {
        
        .columns(3, 1.5em);
        margin: 0;
        padding: 0;
        
        li {
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  
  &.registry,
  &.suggest-a-song,
  &.getting-to-dallas {
    text-align: center;
  }
  
  &.wedding-details {
    
    .content-inner {
      max-width: 50%;
      margin: 1em auto;
      .columns(2);
      
      strong {
        font-family: @subheadings;
        color: @teal;
        display: block;
        margin-top: 1em;
        margin-bottom: -.5em;
        padding: 0;
      }
      
      em {
        font-weight: bold;
        color: @teal;
        display: block;
        margin-top: 1em;
        margin-bottom: -.5em;
        padding: 0;
      }
      
      ul {
        height: 12em;
        margin: 0;
      }
      
      li {
        display: inline-block;
        text-align: center;
      }
    }
    
  }
  
  &.keep-in-touch {
    
    .content-inner {
      max-width: 30%;
      min-width: @min;
      margin: 0 auto;
      text-align: left;
      
      .sml_thankyou {
        margin: 0 -2em;
        padding: 1em;
        background: @teal;
        color: @offwhite;
        .glow();
      }
      
      input, label {
        
        display: block;
        margin: 0 auto;
        
      }
      
      label {
        display: none;
      }
      
      input {
        
        width: 100%;
        background: transparent;
        border: 1px solid fadeout(@offwhite, 50%);
        padding: 1em 0;
        text-indent: 1em;
        font-family: @bodytype;
        color: @offwhite;
        
        &::-webkit-input-placeholder {
           color: fadeout(@offwhite, 50%);
        }
        
        &:-moz-placeholder { /* Firefox 18- */
           color: fadeout(@offwhite, 50%);  
        }
        
        &::-moz-placeholder {  /* Firefox 19+ */
           color: fadeout(@offwhite, 50%);  
        }
        
        &:-ms-input-placeholder {  
           color: fadeout(@offwhite, 50%);  
        }
        
        &:focus {
          color: white !important;
          outline: 0;
          border: 1px solid white;
        }
        
        &[type=submit] {
          border: 0;
          text-indent: 0;
          background: @lightgreen;
          color: @darkgreen;
          .smoothly();
          font-family: @headings;
          font-size: 1.5em;
          padding: .5em;
          
          &:hover {
            background: @teal;
            color: @lightgreen;
            .glow();
          }
        }
        
      }
      
    }
    
  }
  
}

#sidebar {
  
  padding: 2em 0em;
  .columns(3);
  color: white;
  font-weight: normal;
  
  a {
    color: lighten(black, 60%);
    text-decoration: none;
    font-weight: 300;
  }
  
  h2 {
    margin: 0;
    padding: 0;
  }
  
  & > ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    
    ul {
      margin: 0;
      padding: 0;
    }
    
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;
    }
    
  }
}

.gallery {
  
  display: block;
  text-align: center;
  
  .gallery-item {
    display: inline-block;
    height: auto;
    text-align: center;
    margin: 0 10px 0 0;
    
    img {
      width: 100%;
      margin: 0;
      height: auto;
      border: 0 !important;
      .smoothly();
      
      &:hover {
        opacity: .7;
      }  
    }
    
  }
}

